@font-face {
  font-family: 'Nova Cut';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/novacut/v24/KFOkCnSYu8mL-39LkVxIIzc.ttf) format('truetype');
}
